## FINANCIAL ANALYSIS VOLUNTEERING PROJECT
### FELIX IDOWU
---

### OBJECTIVES
#### Your task is to combine and analyze the two datasets to answer the following questions:
1. #### Customer Demographics: What is the age distribution, gender ratio, and income distribution of the customers?
2. #### Credit Card Ownership: How many credit cards does the average user have? Identify customers with multiple credit cards.
3. #### Credit Risk Analysis: Identify customers with high total debt compared to their yearly income.
4. #### Insights for Marketing: Provide insights on which group of customers might be ideal for targeted marketing campaigns (based on credit scores, income, and card types).
---

### DATASET
##### There are two datasets for this project [User_data](https://docs.google.com/spreadsheets/d/1baYcMQr-KCb9FwrY31mQC5ya8FblMHbY/edit?usp=sharing&ouid=102538990223331200198&rtpof=true&sd=true) and [Card_data](https://docs.google.com/spreadsheets/d/1azUzYFNynwX3KcyOT1sCXYD3BVz36eBd/edit?usp=sharing&ouid=102538990223331200198&rtpof=true&sd=true) Click the blue text to view Dataset

#### Users_data: 
##### This contains demographic and financial information about the users.
  ##### Columns:
* ##### main_id: Unique user identifier (foreign key for client_id in cards_data)
* ##### current_age, retirement_age
* ##### gender
* ##### address, latitude, longitude
* ##### per_capita_income, yearly_income, total_debt, credit_score
* ##### num_credit_cards: Number of credit cards the user owns

#### Cards_data:
##### Contains details about each credit card associated with a user.
##### Columns:
* ##### card_id: Unique identifier for each card
* ##### client_id: Foreign key linked to main_id in users_data
* ##### card_brand, card_type (e.g., Debit, Credit, Prepaid)
* ##### expires, acct_open_date
* ##### credit_limit, year_pin_last_changed
---

### Importing libraries needed

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#importing dataset

# pd.set_option('display.max_columns', None)  
user=pd.read_excel('users_data.xlsx', sheet_name='users_data')
card=pd.read_excel('cards_data.xlsx',sheet_name='cards_data')

### Data Preparation

In [3]:
user.columns

Index(['main_id', 'current_age', 'retirement_age', 'birth_year', 'birth_month',
       'gender', 'address', 'latitude', 'longitude', 'per_capita_income',
       'yearly_income', 'total_debt', 'credit_score', 'num_credit_cards'],
      dtype='object')

In [4]:
card.columns

Index(['card_id', 'client_id', 'card_brand', 'card_type', 'card_number',
       'expires', 'cvv', 'has_chip', 'num_cards_issued', 'credit_limit',
       'acct_open_date', 'year_pin_last_changed'],
      dtype='object')

In [5]:
#Checking for duplicates in the primary key 
print(card.card_id.duplicated().sum(),',',user.main_id.duplicated().sum())

0 , 0

##### Merging data

In [6]:
df=pd.merge(user,card, left_on='main_id', right_on='client_id', how='inner')

In [7]:
df

,main_id,current_age,retirement_age,birth_year,birth_month,gender,address,latitude,longitude,per_capita_income,...,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed
0,825,53,66,1966,11,Female,462 Rose Lane,34.15,-117.76,29278,...,Visa,Debit,4344676511950440,2022-12-01,623,YES,2,24295,2002-09-01,2008
1,825,53,66,1966,11,Female,462 Rose Lane,34.15,-117.76,29278,...,Visa,Debit,4956965974959980,2020-12-01,393,YES,2,21968,2014-04-01,2014
2,825,53,66,1966,11,Female,462 Rose Lane,34.15,-117.76,29278,...,Visa,Debit,4582313478255490,2024-02-01,719,YES,2,46414,2003-07-01,2004
3,825,53,66,1966,11,Female,462 Rose Lane,34.15,-117.76,29278,...,Visa,Credit,4879494103069050,2024-08-01,693,NO,1,12400,2003-01-01,2012
4,825,53,66,1966,11,Female,462 Rose Lane,34.15,-117.76,29278,...,Mastercard,Debit (Prepaid),5722874738736010,2009-03-01,75,YES,1,28,2008-09-01,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6141,185,47,67,1973,1,Female,276 Fifth Boulevard,40.66,-74.19,15175,...,Amex,Credit,300609782832003,2024-01-01,663,YES,1,6900,2000-11-01,2013
6142,185,47,67,1973,1,Female,276 Fifth Boulevard,40.66,-74.19,15175,...,Visa,Credit,4718517475996010,2021-01-01,492,YES,2,5700,2012-04-01,2012
6143,1007,66,60,1954,2,Male,259 Valley Boulevard,40.24,-76.92,25336,...,Mastercard,Credit,5929512204765910,2020-08-01,237,NO,2,9200,2012-02-01,2012
6144,1110,21,60,1998,11,Female,472 Ocean View Street,42.86,-71.48,32325,...,Mastercard,Debit,5589768928167460,2020-01-01,630,YES,1,28074,2020-01-01,2020
6145,1110,21,60,1998,11,Female,472 Ocean View Street,42.86,-71.48,32325,...,Visa,Credit,4994011318343990,2020-12-01,120,YES,1,14400,2017-05-01,2017

### Data Cleaning

In [8]:
#Checking for duplicated values
print(df.duplicated().sum(), ',',df.card_id.duplicated().sum())

0 , 0

From here we can see that the primary key in this dataset is the card_id

In [9]:
#Checking for null values
df.isna().sum()

main_id                  0
current_age              0
retirement_age           0
birth_year               0
birth_month              0
gender                   0
address                  0
latitude                 0
longitude                0
per_capita_income        0
yearly_income            0
total_debt               0
credit_score             0
num_credit_cards         0
card_id                  0
client_id                0
card_brand               0
card_type                0
card_number              0
expires                  0
cvv                      0
has_chip                 0
num_cards_issued         0
credit_limit             0
acct_open_date           0
year_pin_last_changed    0
dtype: int64

In [10]:
df[df.yearly_income<1000].yearly_income.sort_values()

2288      1
2286      1
2287      1
5212      2
5211      2
5210      2
5209      2
5207      2
5208      2
4145      3
4146      3
4771      4
4773      4
4772      4
5343    399
5344    399
5345    399
1978    553
1980    553
1979    553
4410    645
4412    645
4411    645
2245    920
2244    920
2243    920
Name: yearly_income, dtype: int64

In [11]:
# Eliminating unrealistic Yearly_income
df=df[df.yearly_income>399]

### Gender Ratio

In [18]:
male=user[user.gender == 'Male'].reset_index()

In [19]:
male=male.drop(columns='index')

In [20]:
male

,main_id,current_age,retirement_age,birth_year,birth_month,gender,address,latitude,longitude,per_capita_income,yearly_income,total_debt,credit_score,num_credit_cards
0,1164,43,70,1976,9,Male,9620 Valley Stream Drive,37.76,-122.44,53797,109687,183855,675,1
1,68,42,70,1977,10,Male,58 Birch Lane,41.55,-90.60,20599,41997,0,704,3
2,1711,26,67,1993,12,Male,1941 Ninth Street,45.51,-122.64,26790,54623,114711,728,1
3,192,27,66,1992,6,Male,888 Fifth Lane,38.65,-121.25,27548,56164,15224,761,2
4,1094,34,62,1985,10,Male,74786 Jefferson Drive,44.75,-85.60,20325,41442,78833,712,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,1380,37,66,1982,9,Male,566 Lexington Drive,33.62,-112.13,20815,42444,77510,736,2
980,932,67,69,1953,2,Male,295 West Avenue,32.36,-92.97,16760,34172,71366,811,6
981,588,21,66,1998,6,Male,2183 Catherine Boulevard,38.47,-90.75,23106,47109,76035,844,3
982,986,32,70,1987,7,Male,6577 Lexington Lane,40.65,-73.58,23550,48010,87837,703,3
983,1007,66,60,1954,2,Male,259 Valley Boulevard,40.24,-76.92,25336,54654,27241,618,1

In [21]:
male.shape

(984, 14)

In [22]:
female=user[user.gender == 'Female'].reset_index()

In [23]:
female=female.drop(columns='index')

In [24]:
female.shape

(1016, 14)

#### Male to Female ratio =  2996 : 3133

### Age Distribution

In [ ]:
ages=df[['client_id','current_age']]
ages
## Extracting the needed column

In [ ]:
ages.duplicated().sum()

#### Since we are dealing with customer detail and not card details, we have to remove duplicated with respect to a unique customer detail

In [ ]:
ages=ages.drop_duplicates()

In [ ]:
ages.sort_values('current_age')
ages

In [ ]:
print('Age Range :',ages.current_age.min(),'-',ages.current_age.max())

#### Segmenting Customer's Age

In [ ]:
def age(dist):
    if dist >=18 and dist <= 25:
        return 'Young Adults'
    elif dist >=26 and dist<= 35: 
        return 'Early Career Professionals'
    elif dist >=36 and dist<=50:
        return 'Mid-Career Individuals'
    elif dist >=51 and dist<=65:
        return 'Late Career & Pre-Retirement'
    elif dist >=66 and dist<=80:
        return 'Retirees'
    else:
        return 'Elderly'

In [ ]:
df['age_segment']= df.current_age.apply(age)

In [ ]:
df.head(3)

In [ ]:
age_segment=df.age_segment.value_counts().reset_index()
age_segment

In [ ]:
# Renaming the columns
age_segment=age_segment.rename(columns={'age_segment':'counts'})
age_segment=age_segment.rename(columns={'index':'age_segment'})
age_segment

In [ ]:
plt.figure(figsize=(20,8))
plt.bar(age_segment.age_segment,age_segment['counts'], width=0.7)
plt.xticks(fontsize=12)
plt.title('Age Categories of Customer', color='r')
plt.xlabel('Age Category', color='red')
plt.ylabel('Count', color='red')
plt.show

#### Extracting the count of Each unique age of customers

In [ ]:
age_count = ages.pivot_table(index="current_age", values="client_id", aggfunc="count")
age_count

In [ ]:
age_count.rename(columns={'client_id':'count'}, inplace=True)

In [ ]:
age_count=pivot_1.reset_index()
age_count.sort_values('count', ascending= False)

In [ ]:
plt.figure(figsize=(12,5))
plt.hist(age_count.current_age,weights=age_count['count'], bins=20, edgecolor='black')
plt.title('Age_Distribution')
plt.xlabel('Age')
plt.show()

### Income Distribution

#### Segmenting the Customer Yearly_Income

In [ ]:
def income(customers):
    if customers <= 50000:
        return 'Low_Income_Customer'
    elif customers  >=100000:
        return 'High_Income_Customer'
    else:
        return 'Mid-range_Income_Customer'

In [ ]:
df['Income_Category']= df.yearly_income.apply(income)

In [ ]:
income_segment=df.Income_Category.value_counts().reset_index()
income_segment=income_segment.rename(columns={'Income_Category':'counts'})
income_segment=income_segment.rename(columns={'index':'Income_Category'})
income_segment

##### Pivoting The Credit_Score_Category and the Income_category

In [ ]:
def credit(score):
    if score >= 740:
        return 'Good credit score'
    elif score >= 540:
        return 'Fair credit score'
    else:  
        return 'Bad credit score'

In [ ]:
df['Credit_Score_Category']= df.credit_score.apply(credit)

In [ ]:
pivot=df.pivot_table(index='Credit_Score_Category',columns='Income_Category', values='main_id', aggfunc='count')
pivot

In [ ]:
pivot.plot(kind='bar', figsize=(10,6), colormap='viridis')

plt.title("Income Categories vs Credit Score")
plt.xlabel("Credit Score Category")
plt.ylabel("Number of Customers")
plt.legend(title="Income Category")
plt.xticks(rotation=0)
plt.show()

### Credit Risk Analysis

In [ ]:
debt=df[['total_debt','yearly_income']]
debt=debt.drop_duplicates().sort_values('total_debt', ascending=False)
debt

#### To analyse customer debt, we have to elimate rows of customers without debt

In [ ]:
debt=debt[debt.total_debt > 0 ]

#### To assess credit risk, we use the **Debt-to-Income Ratio (DTI)** to understand a borrower's ability to manage debt compared to their income. A **higher DTI** means greater financial strain and a higher risk of default, A **lower DTI** indicates better financial stability and lower credit risk. (Note that: Lenders rely on this ratio to determine loan eligibility, set interest rates, and evaluate the likelihood of repayment). The **DTI** in this analysis ranged from a minimum of **0.13%** to a maximum of **497.86%**. A **DTI greater than 100%** means that a person’s debt payments exceed their income. This is a sign of **high credit risk**, as they may need to rely on savings or new debt to meet financial obligations. Lenders may see such borrowers as risky and could: **Deny credit**, **Offer loans with higher interest rates**, **Require collateral** to reduce their risk

In [ ]:
debt['DTI']= (debt['total_debt']/debt['yearly_income']) * 100

In [ ]:
debt=debt.sort_values('DTI')

In [ ]:
debt

In [ ]:
print('Number of Customers Least Likely to Repay Debt Due to High DTI:', debt[debt['DTI'] > 100].DTI.count())

### Insights for Marketing

In [ ]:
def customer_segment(row):
    if row['credit_score'] >= 740 and row['yearly_income'] > 100000:
        return "High-Value Customers"
    elif row['credit_score'] >= 700 and row['yearly_income'] >= 40000:
        return "Growth Potential Customers"
    elif row['credit_score'] < 650 and row['card_type'] == 'debit':
        return "Prepaid/Debit Users"
    else:
        return "General Customers"

df['customer_segment'] = df.apply(customer_segment, axis=1)

# View the segmentation
df['customer_segment'].value_counts()

In [ ]:
import seaborn as sns
plt.figure(figsize=(10,6))
sns.scatterplot(x=df['yearly_income'], y=df['credit_score'], hue=df['customer_segment'])
plt.title("Credit Score vs Income Segmentation")
plt.show()

### General Customers (4,107 customers):
* #### Need broad engagement strategies like loyalty programs and personalized recommendations.
* #### Awareness campaigns can keep them engaged.


### Growth Potential Customers (1,962 customers):
* #### Best suited for upselling and cross-selling efforts.
* #### Exclusive offers and financial products can increase their spending.

### High-Value Customers (60 customers):
* #### Require a personalized approach with VIP programs, premium services, and special perks.
* #### Ensuring their loyalty is crucial for long-term profitability.

### Number of Credit Cards

In [ ]:
credit_card=df[df.card_type == 'Credit']
credit_card

In [ ]:
# credit_card=credit_card[['main_id','card_type']]

In [ ]:
card_pivot=credit_card.pivot_table(index=['client_id'], values='card_type', aggfunc='count')
card_pivot=card_pivot.rename(columns={'card_type': 'no_of_card'})

In [ ]:
card_pivot[card_pivot['no_of_card'] >1].count()

#### 535 customers have  more than 1 credit card